.App {
  background-color: #282c34;
  color: white;
  text-align: center;
  border: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}

.Chore{
  background-color: rgb(36, 58, 93);
  border-radius:1vw;
  position: relative;
  margin-left: 5vw;
  margin-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 0.7vh;
  color: white;
  text-align: left;
  width: 86vw;
}

.Inputs{
  
}
