body{
  background-color: #282c34;
  overflow-x: hidden;
}
.App {
  color: white;
  background-color: #282c34;
  text-align: center;
  border: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}

.Chore{
  background-color: rgb(36, 58, 93);
  border-radius:1vw;
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 0.7vh;
  color: white;
  text-align: left;
  width: 84vw;
}

.Create{
  background-color: rgb(49, 81, 131);  
  border-radius:1vw;
  border: none;
  width: 15vw;
  height: 5vh;
  color: white;
  font-size: 20px;
}

.Form{  
  font-size: 25px; 
}

.Input{
  width:30%;
  height: 4vh;
  background-color: #353a44;
  border: none;
  border-bottom:2px solid #545c6b;
  color: white;
  font-size: 17px;
  padding-left: 1vw;
}