.App {
  background-color: #282c34;
  color: white;
  text-align: center;
  border: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}

.Chore{
  position: absolute;
  margin-left: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  border: 2px;
  border-style: solid;
  border-color: aqua;
  color: white;
  text-align: left;
  width: 86vw;
}